[user]
  email = misawa_koyuta@cyberagent.co.jp
  name = misawa_koyuta
[core]
  excludesfile = ~/.gitignore_global
  editor = nvim
[diff]
  indentHeuristic = true
[commit]
  template = ~/.gitcommit_template
